.sideber{
    background-color:#1E424A;
    position: fixed;
    width:70px;
    height: 30vh;
   top: 245px;
   opacity: 0.5;
    z-index: 1000;
    border-top: 2px #FC9104 solid;
    border-bottom: 2px #FC9104 solid;
   
}
.sideber  ul  li{
   justify-content:center !important;
   align-items: center !important;
   margin-top: 5px !important;
}
ul li{
    list-style-type: none;
    margin-top: 5px !important;
    z-index: 12000 !important;
}


 ul {
  position:absolute;
    margin-bottom: 1rem !important;
    margin-top: 6px !important;
    margin-left: -12px !important;
   

}

.sideber li{
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    opacity: 1;
}

 .fab:hover{
    
    background-color: #FF9D16;
   color: #fff;
   border-radius: 50%;
    
    opacity: 1;
}





