.particles{
    z-index: 95;
    width:100%;
    align-items: center;
    justify-content:center;
    
}

.home-sec{
   
    position: absolute;
    
    z-index: 90;
}

.home-sec, .ani-mation{
    z-index: 600;
}


@media(max-width:968px){

    .particles{
       display:none;
    }
   
    }
    
    @media(max-width:500px){
        .particles {
            display:none;
          
        }
        
    }
