.particles{
    z-index: -1000;
    width:100%;
    align-items: center;
    justify-content:center;
    
}


.home-sec{
   
    position: absolute;
    
    z-index: 1000;
}

.home-sec, .ani-mation{
    z-index: 600;
}


@media(max-width:968px){

    .particles{
       width: 100% !important;
       height: 100% !important;
       opacity: 0.2 !important;
    }
   
    }
    
    @media(max-width:500px){
        .particles {
            width: 100% !important;
            height: 100% !important;
            opacity: 0.2 !important;

        }
        
    }
